<h1><%= @page_title %></h1>
<p>TLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisi eget elit varius bibendum ut vitae risus. Nunc venenatis porta fermentum. Vivamus lectus felis, egestas vel suscipit eu, dignissim tempus dui. Quisque vitae rutrum justo, et placerat mauris. Donec eu orci ac neque molestie egestas sed non libero. Praesent porttitor nulla et neque condimentum, ut hendrerit massa lobortis. Ut porta sapien eget posuere dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris velit nibh, lobortis sit amet mattis sed, imperdiet vel risus. Sed congue sagittis dignissim. Etiam at ligula a nibh blandit aliquet non vel leo. Vestibulum a diam nisi. Donec efficitur vel metus et interdum. Donec volutpat lorem dolor, ut ullamcorper dolor ultricies at.</p>

<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The BookStore</li>
		<li>499 Massachusetts Ave</li>
		<li>Boston, MA 02110</li>
		<li>Phone: 617-555-5555</li>
		<li>Email: support@thebookstore.com</li>
	</ul>
</div>